body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-image: url(images/bumbum.gif);
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
}

aside {
    background-color: rgb(5, 46, 228);
    flex: 2;
}

main {
    background-color: rgb(184, 184, 184);
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer {
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex: 1;
}

/* стили для главного меню */
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

.card {
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    background-color: rgb(117, 112, 112);
    color: rgb(240, 240, 240);
}

.card img {
    width: 100%;
}

/* сбросить стили для стандарной ссылки и посещенной */
main a, main a :visited {
    text-decoration: none;
    color: black;
}