#calculator {
    width: 250px;
    margin: 50px auto;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px black;
    background-color: black;
}

#display {
    height: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: right;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#buttons {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

.btn {
    font-size: 18px;
    cursor: pointer;
    flex: 1 0 20%;
}

#equals {
    flex: 1;
}

h1 {
    margin: 50px auto;
    text-align: center;
}

.btn {
    background-color: rgb(88, 88, 88);
    color: white;
}

.btnop {
 background-color: rgb(255, 153, 0);
 gap: 1px;
 font-size: 18px;
 flex: 1 0 30%;
 cursor: pointer;
 flex-wrap: wrap;
 display: flex;
 color: white;
}

body {
    background-image: url(https://i.pinimg.com/originals/20/f6/3a/20f63af1a58669d6eb486480fe923d12.gif);
}

h1 {
    color: white;
}